// This is a test file which is used to check and make sure that all comments
// are being parsed out of the file and are resolving in the application as
// valid JSON
{
    // In-line comment test 1
    "key1": null,
    "key2": 1234567890,
    "key3": "string1",
    // In-line comment test 2
    "key4":
    {
        // nested comment test 1
        "nestedKey1": null,
        "nestedKey3": "string2"
        // nested comment test 2
    },
    // In-line comment test 3
    "key5": ["val1", "val2", "val3"]
}
// Final comment test
