# Ignore everything
**

# Specify allowed files and directories
!./app
!./build
!./certs
!./config/default.cfg
!./config/pipeline.cfg
!./config/dev.cfg
!./config/example.cfg
!./config/jsdoc.json
!./doc
!./mbee.js
#!./node_modules
!./package.json
!./plugins
!./*.md
!./scripts
!./test
!./yarn.lock