<%
/*****************************************************************************
 * Classification: UNCLASSIFIED                                              *
 *                                                                           *
 * Copyright (C) 2018, Lockheed Martin Corporation                           *
 *                                                                           *
 * LMPI WARNING: This file is Lockheed Martin Proprietary Information.       *
 * It is not approved for public release or redistribution.                  *
 *                                                                           *
 * EXPORT CONTROL WARNING: This software may be subject to applicable export *
 * control laws. Contact legal and export compliance prior to distribution.  *
 *****************************************************************************/
 %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MBEE Documentation | Model-Based Engineering Environment</title>

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>

    <style>
        .navbar {
            position: fixed;
            z-index: 1000;
            top: 0;
            width: 100%;
        }

        iframe {
            margin-top: 61px;
            position: absolute;
            height: 100%;
            width: 100%;
            border: none;
        }
    </style>

    <!-- ub-jsdoc stylesheets -->

    <!--<link type="text/css" rel="stylesheet" href="styles/tomorrow-night.css">-->
    <link type="text/css" rel="stylesheet" href="styles/ub-jsdoc.css">
  </head>
  <body class="lm-light-theme">

    <%- include('../../../app/views/_includes/nav'); %>

    <%- content %>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- UB-JSDoc dependencies -->
    <script type="text/javascript" src="scripts/lunr.min.js"></script>
    <script type="text/javascript" src="scripts/partialNavigation.js"></script>
    <script>prettyPrint(); window.exports.gotoLine()</script>
  </body>
</html>
