@import '../../utils/variables';
@import './sidepanel';

#element-tree-container {
  display: table;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;

  #tree-model {
    overflow: scroll;
    height: 108%;
    position: sticky;
    top: 0;
  }

  /* TODO (jk) - Figure this one out.
  I have no idea why, but the nowrap is causing the main workspace to
  push the side panel to the right, compressing the side panel. For reasons
  I am even less certain of, the max-width of zero prevents that.
  */
  white-space: nowrap;
  max-width: 0;
  overflow-x: scroll;

  max-height: 100%;

  i {
    padding-right: 10px;
  }

  .element-tree {
    padding-left: 24px;
    border-left: 1px solid #e8e8e8;
  }

  .element-tree-root {
    border-left: none;
  }

  .element-tree, .element-tree-root {
    i.fa-caret-right, i.fa-caret-down {
      width: 20px;
    }

    .element-id {
      font-weight: 600;
      font-size: 12px;
      color: #cccccc;
      padding-left: 10px
    }
  }

  .element-tree > .element-name > span {
    transition: all .15s ease-in-out;
  }

  .element-tree > .element-name:hover > span:not(.element-id) {
    cursor: default;
    color: lighten($mbee-navbar-color, 20%);
  }

  .element-tree.tree-selected > .element-name > span {
    background: $highlight-color-primary;
  }

  .transparent {
    color: transparent;
  }

}

