
#fm {

    color: #d6d7d8;

    h1.title {
        color: #fff;
        font-weight: 100;
        font-size: 56px;
        margin: 40px 15px 0px 15px;
    }

    h2.subtitle {
        color: #d6d7d8;
        font-weight: 100;
        font-size: 14px;
        margin: 0px 15px 40px 15px;
    }

    .nav-link {
        border-radius: 0px;
    }

    .nav-pills .nav-link.active {
        background-color: transparent;
        border-bottom: 1px solid #007bff;
    }

    .tab-content {

        color: #d6d7d8;

        h1, h2, h3, h4, h5, h6 {
            font-weight: 300;
            color: #fff;
        }

        h1 {
            margin-bottom: 20px;
            font-size: 48px;
            font-weight: 100;
        }

        h2 {
            border-bottom: 1px solid #5c6166;
            padding-bottom: 2px;
            margin-bottom: 18px;
        }

        pre {
            color: #adb0b2;
            background: #343a40;
            padding: 4px 4px;
            border: 1px solid #484d53;
        }
    }



}
