
#doc-tabs {
  font-size: 18px;
}

#doc-tabs > a {
  display: inline;
  padding: 0;
  color: #656565;
}

#doc-tabs > a.active {
  border-bottom: 2px solid #656565;
}

#doc-tabs > a:hover {
  color: #9a9a9a;
}

#jsdoc-nav > ul {
  display: none;
}
