
@import 'variables';

.table {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;

  td, th {
    border: none;
    padding-top: 5px;
  }
}

.side-panel {
  display: table-cell;
  border-left:  1px solid darken($mbee-background, 10%);
  border-right:  1px solid darken($mbee-background, 10%);
  border-bottom:  1px solid darken($mbee-background, 10%);
  width: 50%;
  background: $mbee-background;

  .element-panel-display {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

    hr {
      width: 95%;
    }

    .side-icons {
      display: flex;
      justify-content: flex-end;

      .exit-btn {
        height: 5%;
        color: $color-secondary;
      }

      .exit-btn:hover {
        cursor: pointer;
        color: darken($color-secondary, 30);
      }
      .edit-btn {
        color: $color-primary;
        padding-right: 15px;
      }

      .edit-btn:hover {
        cursor: pointer;
        color: $color-secondary
      }
    }

    .edit-btn {
      color: $color-primary;
    }

    .edit-btn:hover {
      cursor: pointer;
      color: $color-secondary
    }

    .element-data {
      width: 100%;
      table {
        width: 100%;
      }
      hr {
        margin: 5px 0px 5px 0px;
      }
    }
  }

  .element-create {

    padding: 24px;

    h2 {
      padding-bottom: 5px;
      border-bottom: 1px solid $mbee-color;
    }

    button {
      margin-right: 10px;
    }

    p {
      padding: 8px 0;
    }

  }
}
