
@import 'variables';


.element-table {
  display: table;
  width: 100%;
}

.element-information {
  display: table-cell;
  border-left:  1px solid darken($mbee-background, 10%);
  border-right:  1px solid darken($mbee-background, 10%);
  border-bottom:  1px solid darken($mbee-background, 10%);
  width: 50%;
  background: $mbee-background;

  .element-info-display{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .exit-icon {
    display: flex;
    justify-content: flex-end;

    i {
      height: 5%;
    }

    i:hover {
      cursor: pointer;
      color: grey;
    }
  }

  .element-table {
    width: 95%;
  }
}
