html
  head
    title Example Plugin | MBEE
  body
    h1 Welcome to the MBEE example plugin!
    p Plugins in MBEE are like mini Express.js apps namespaced by their own URL.\
    p It uses a different templating engine than MBEE.