<%
/*****************************************************************************
 * Classification: UNCLASSIFIED                                              *
 *                                                                           *
 * Copyright (C) 2018, Lockheed Martin Corporation                           *
 *                                                                           *
 * LMPI WARNING: This file is Lockheed Martin Proprietary Information.       *
 * It is not approved for public release or redistribution.                  *
 *                                                                           *
 * EXPORT CONTROL WARNING: This software may be subject to applicable export *
 * control laws. Contact legal and export compliance prior to distribution.  *
 *****************************************************************************/
 %>

<div class="container">
  <h3>About MBEE</h3>

  <p>
    <b>Version:</b> <%= info.version%><br/>
    <b>Build:</b> <%= info.build%>
  </p>

  <p>The Model-Based Engineering Environment or MBEE is a platform that
  allows system models to be leveraged in a web-based user interface (UI)
  for  increased access and ease of use across disciplines and skill sets
  within an organization. MBEE provides a web-based UI for people to
  interact with system model data without needing to be a systems modeler
  themselves.</p>

  <p>The goal of MBEE is to better communicate data across engineering
  organizations by implementing the core goals of model-based systems
  engineering through software tools. MBEE decreases ambiguity by making
  a single-source of truth for data more achievable through its
  RESTful API, extensible plugins, and distributed microservices.</p>

  <br/>

  <h3>Our Team</h3>

  <p>MBEE is being developed by the Software Engineering team in the Systems
  Engineering Modernization organization. </p>

  <p>Our software team consists of:
  <ul>
    <li>Josh Kaplan</li>
    <li>Jake Ursetta</li>
  </ul>
  </p>

  <p>To report an issue to our systems team, please visit our
    <a href="https://jira.us.lmco.com/servicedesk">JIRA Service Desk</a>.
  </p>
</div>
