<%
/*****************************************************************************
 * Classification: UNCLASSIFIED                                              *
 *                                                                           *
 * Copyright (C) 2018, Lockheed Martin Corporation                           *
 *                                                                           *
 * LMPI WARNING: This file is Lockheed Martin Proprietary Information.       *
 * It is not approved for public release or redistribution.                  *
 *                                                                           *
 * EXPORT CONTROL WARNING: This software may be subject to applicable export *
 * control laws. Contact legal and export compliance prior to distribution.  *
 *****************************************************************************/
 %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login | Model-Based Engineering Environment</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css"/>

    <!-- React.js -->
    <script src="/js/react.min.js"></script>
    <script src="/js/react-dom.min.js"></script>

  </head>
  <body class="lm-light-theme">
    <% if (ui.banner.on) { %>
    <%- include('_includes/banner-header'); %>
    <% } %>

    <%- include('_includes/nav'); %>

    <div class="container">
        <h3>About MBEE</h3>

        <p><b>Version:</b> <%= info.version%></p>

        <p>The Model-Based Engineering Environment or MBEE is a platform that 
        allows system models to be leveraged in a web-based user interface (UI) 
        for  increased access and ease of use across disciplines and skill sets 
        within an organization. MBEE provides a web-based UI for people to 
        interact with system model data without needing to be a systems modeler 
        themselves.</p> 
        
        <p>The goal of MBEE is to better communicate data across engineering 
        organizations by implementing the core goals of model-based systems 
        engineering through software tools. MBEE decreases ambiguity by making
        a single-source of truth for data more achievable through its 
        RESTful API, extensible plugins, and distributed microservices.</p>

        <br/>

        <h3>Our Team</h3>

        <p>MBEE is being developed by the Software Engineering team in the Systems 
        Engineering Modernization organization. </p>

        <p>Our software team consists of:
        <ul>  
          <li>Josh Kaplan</li>
          <li>Jake Ursetta</li>
        </ul>
        </p>

        <p>To report an issue to our systems team, please visit our 
          <a href="https://jira.us.lmco.com/servicedesk">JIRA Service Desk</a>.
        </p>
    </div>

    <% if (ui.banner.on) { %>
    <%- include('_includes/banner-footer'); %>
    <% } %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>