<%
/*****************************************************************************
 * Classification: UNCLASSIFIED                                              *
 *                                                                           *
 * Copyright (C) 2018, Lockheed Martin Corporation                           *
 *                                                                           *
 * LMPI WARNING: This file is Lockheed Martin Proprietary Information.       *
 * It is not approved for public release or redistribution.                  *
 *                                                                           *
 * EXPORT CONTROL WARNING: This software may be subject to applicable export *
 * control laws. Contact legal and export compliance prior to distribution.  *
 *****************************************************************************/
 %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MBEE | Model-Based Engineering Environment</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css"/>

    <!-- React.js -->
    <script src="/js/react.min.js"></script>
    <script src="/js/react-dom.min.js"></script>

  </head>
  <body class="lm-light-theme">
    <% if (ui.banner.on) { %>
    <%- include('_includes/banner-header'); %>
    <% } %>

    <%- include('_includes/nav'); %>

    <div id="root" class="container-fluid">
        <p>
            This is the home page for MBEE software engineering team. If you
            found your way here by mistake and are looking for MBEE-related support, 
            please visit our <a href="https://jira.us.lmco.com/servicedesk">
            JIRA Service Desk.</a>
        </p>

        <h4>Developer Resources</h4>
        <ul>
            <li>
                <a href="https://gitlab.lmms.lmco.com/mbee">Git</a>
            </li>
            <li>
                <a href="https://jira.us.lmco.com/projects/MBX/">Jira</a>
            </li>
            <li>
                <a href="https://dev.mbee.us.lmco.com:8443">Jenkins</a>
            </li>
            <li>
                <a href="#">Wiki</a>
            </li>
        </ul>
    </div>

    <% if (ui.banner.on) { %>
    <%- include('_includes/banner-footer'); %>
    <% } %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>