<%
function preOrderTreeTraversal(tree, array) {
  array.push(tree.element);
  if (tree.hasOwnProperty('children') && tree.children.length > 0) {
    for (let i = 0; i < tree.children.length; i++) {
      preOrderTreeTraversal(tree.children[i], array);
    }
  }
}

function renderElement() {

}

 %>


<div class="element model-package arc-reactor expanded">
  <div class="element-container">
    <a class="expand-icon" onclick=toggleExpand('arc-reactor-child')>
      <i class="fas fa-angle-right"></i>
    </a>

    <a class="element-title">
      <i class="fas fa-boxes"></i>
      <span>Arc Reactor</span>
    </a>
  </div>


  <div class="element model-block cooling-system arc-reactor-child">
    <a class="element-title">
      <i class="fas fa-square"></i>
      <span>Cooling System</span>
    </a>
  </div>

  <div class="element model-package fusion-assembly arc-reactor-child">
    <a class="element-title" onclick=toggleExpand('fusion-assembly-child')>
      <i class="fas fa-angle-right"></i>
      <i class="fas fa-boxes"></i>
      <span>Fusion Assembly</span>
    </a>

    <div class="element model-block radiation-shield fusion-assembly-child">
      <a class="element-title">
        <i class="fas fa-square"></i>
        <span>Radiation Shield</span>
      </a>
    </div>

    <div class="element model-block radiation-shield-frame fusion-assembly-child">
      <a class="element-title">
        <i class="fas fa-square"></i>
        <span>Radiation Shield Frame</span>
      </a>
    </div>

    <div class="element model-relationship radiation-shield-mount fusion-assembly-child">
      <a class="element-title">
        <i class="fas fa-square"></i>
        <span>Radiation Shield Mount</span>
      </a>
    </div>

  </div>

</div>
