<div id="graphContainer" class="mxGraph-test"></div>

<script type="text/javascript">
  mxBasePath = '/mxgraph/src';
</script>

<script type="text/javascript" src="/mxgraph/mxClient.js"></script>

<script type="text/javascript">
  function main() {
    // Checks if the browser is supported
    if (!mxClient.isBrowserSupported()) {
      // Displays an error message if the browser is not supported.
      mxUtils.error('Browser is not supported!', 200, false);
    }

    var model = new mxGraphModel();
    var graph = new mxGraph(document.getElementById("graphContainer"), model);

    var layout = new mxCompactTreeLayout(graph);

    // Gets the default parent for inserting new cells. This
    // is normally the first child of the root (ie. layer 0).
    var parent = graph.getDefaultParent();

    // Adds cells to the model in a single step
    model.beginUpdate();
    try {
      var v1 = graph.insertVertex(parent, null, 'Hello,', 10, 10, 50, 50);
      var v2 = graph.insertVertex(v1, null, 'Hello Child', 10, 10, 60, 30);
      var v3 = graph.insertVertex(parent, null, 'World!', 200, 150, 80, 30);
      var e1 = graph.insertEdge(parent, null, '', v1, v3);

      layout.execute(parent);

    }
    finally {
      // Updates the display
      model.endUpdate();
    }
  }
  main()
</script>
