<%
/*****************************************************************************
 * Classification: UNCLASSIFIED                                              *
 *                                                                           *
 * Copyright (C) 2018, Lockheed Martin Corporation                           *
 *                                                                           *
 * LMPI WARNING: This file is Lockheed Martin Proprietary Information.       *
 * It is not approved for public release or redistribution.                  *
 *                                                                           *
 * EXPORT CONTROL WARNING: This software may be subject to applicable export *
 * control laws. Contact legal and export compliance prior to distribution.  *
 *****************************************************************************/
 %>

    <div id="root">
        If you can see this react isn't working.
    </div>

    <script src="/js/mbee.js" type="text/javascript"></script>
    <script type="text/javascript">
        ReactDOM.render(
          React.createElement(App, {
            name: "MBEE", 
            org: "<%= org %>",
            project: "<%= project %>"
          }),
          document.getElementById('root')
        );
    </script>
