<%
/**
 * Classification: UNCLASSIFIED
 *
 * @module views.organizations
 *
 * @copyright Copyright (C) 2019, Lockheed Martin Corporation
 *
 * @license LMPI - Lockheed Martin Proprietary Information
 *
 * @owner Leah De Laurell <leah.p.delaurell@lmco.com>
 *
 * @author Jake Ursetta <jake.j.ursetta@lmco.com>
 *
 * @description This page renders the organizations page.
 */
%>
<div id="main"></div>

<%- contentFor('scripts') %>
<script type="text/javascript" src="/react-js/organizations.js"></script>
