<div class="container mbee-organization-list">

  <h1>Your Projects</h1>

  <% if (projects.length > 0) { %>

  <ul class="mbee-list">
    <% for (let i = 0; i < projects.length; i++) { %>
    <li class="mbee-list-item">
      <a href="/<%=projects[i].ref%>">
        <div class="project-list-item">

          <div class="project-list-title">
            <%=projects[i].name%>
          </div>

          <div class="project-list-stats">

            <div class="project-list-stats-members">
              <i class="fas fa-user-astronaut"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Members">
              </i>
              <span><%= projects[i].permissions.read.length%></span>
            </div>
          </div>

        </div>
      </a>

    </li>
    <% } %>
  </ul>

  <% } else { %>

  <h3>You do not belong to any projects</h3>
  <p> Projects you are added to will show up here.</p>

  <% } %>

</div>
