<%
/**
 * Classification: UNCLASSIFIED
 *
 * @module views.projects
 *
 * @copyright Copyright (C) 2018, Lockheed Martin Corporation
 *
 * @license LMPI - Lockheed Martin Proprietary Information
 *
 * @owner Leah De Laurell <leah.p.delaurell@lmco.com>
 *
 * @author Leah De Laurell <leah.p.delaurell@lmco.com>
 *
 * @description This page renders the project page by grabbing the javascript
 * after being compiled by the projects.jsx file.
 */
%>
<div id="main"></div>

<%- contentFor('scripts') %>
<script type="text/javascript" src="/react-js/projects.js"></script>
