<%
  const orgs = user.orgs;
  const projects = user.proj;
  const customData = user.custom;
%>
<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= name%></li>
    </ol>
  </nav>

  <hr class="mb-4">

  <h1 class="display-4"><%= user.name%></h1>
  <% if (customData) { %>

  <ul class="user-info">
    <h1 class="display-4"><%= JSON.stringify(projects.length, null, 4) %></h1>

    <h3 id="projects" class="mt-3">User's Information</h3>
    <% Object.keys(customData).forEach(key => { %>

    <li class="user-info-item">

        <div class="customdata-list-stats">
          <div class="customdata-list-stats-email">
            <i class="fas fa-envelope"
               data-toggle="tooltip"
               data-placement="top"
               title="Email">
            </i>
            <span><%= customData[key]%></span>
          </div>
        </div>
      </div>

    </li>
    <% }) %>
  </ul>

  <% } else { %>
    <p> The user does not currently contain any custom data.</p>
  <% } %>

</div>
