
<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= name%></li>
    </ol>
  </nav>

  <hr class="mb-4">

  <h1 class="display-4"><%= user.name%></h1>

</div>
