
/******************************************************************************
/*                                  General                                   *
/******************************************************************************/

@import '../base/_variables';

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}


table {
  width: 60%;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
}

hr {
  border-color: #9c9c9c;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
}

label {
  font-size: 15px;
}

textarea[name="custom"] {
  font-family: Consolas, "Courier New";
  resize: vertical;
  outline: none;
}

/******************************************************************************
/*                                  Themes                                    *
/******************************************************************************/
//LM Light Theme (default)
//This is the default color scheme.
.mbee-theme {
  background-color: $mbee-background;
  color: $mbee-color;
  font-family: $mbee-font;
  height: 100%;
}


/******************************************************************************
/*                  List and List Item Component Styling                      *
/******************************************************************************/
.hover-darken:hover {
  background: #f7f7f7;
}

.list {
  a {
    display: block;
    text-decoration: none;
    color: black;
  }

  hr {
    border-color: darkgrey;
    margin: 0;
  }
}

.guideline {
  border-left: 1px solid #eee;
}

.list-item {
  margin: 0;
  padding: .5em;
  height: 100%;
  width: 100%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.element-item {
  display: grid;
  grid-template-columns: minmax(auto, 35px) 1fr;
  grid-template-areas: "stats header";
  justify-content: space-between;
  align-items: center;

  .list-header {
    grid-area: header;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    p {
      font-size: 15px;
      margin: 0;
      display: inline-block;
    }
  }

  .stats-list {
    grid-area: stats;
    justify-self: flex-end;
  }
  padding: 2px;
  cursor: pointer;
}

.stats-list-item {
  display: grid;
  grid-template-columns: minmax(auto, 600px) 1fr;
  grid-template-areas: "header stats";
  justify-content: space-between;
  align-items: center;

  .list-header {
    margin: 1em;
    grid-area: header;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    p {
      font-size: 15px;
      margin: 0;
      display: inline-block;
    }
    a:hover {
      color: #ffc700;
    }
  }

  .stats-list {
    grid-area: stats;
    justify-self: flex-end;
  }
}

.stats-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  min-width: 100%;
  max-width: 100%;

  .stats-item {
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    i {
      padding-right: .3em;
    }
    p {
      margin: 0;
    }
  }
}

.user-list-item {
  display: grid;
  grid-template-columns: minmax(auto, 48%) minmax(auto, 48%) 1fr;
  grid-template-areas: "username perm";
  justify-content: space-between;
  align-items: center;

  .username {
    margin: 8px;
    grid-area: username;
    p {
      margin: 0;
      display: inline-block;
    }
  }

  .permission {
    grid-area: perm;
    p {
      font-size: 15px;
      margin: 0;
      display: inline-block;
    }
  }
}
