/******************************************************************************
/*                              Navbar Styling                               *
/******************************************************************************/

@import '../utils/_variables';

.mbee-navbar {
  height: 36px;
  background-color: $mbee-navbar-color;
  width: 100%;
  border-bottom: 1px solid darkgray;
  padding-top: 5px;
  padding-bottom: 3px;

  .navbar-brand {
    height: 100%;
    color: $mbee-navbar-text;
    display:flex;
    font-size: 16px;
    align-items: center;
    img {
      height: 28px;
      //height: 2em;
      padding-right: .5em;
      position: relative;
      top: -2px;
    }
  }

  .nav-link {
    height: 100%;
    color: $mbee-navbar-text;
    font-size: 16px;
  }

  .navbar-toggler {
    height: 100%;
  }
}
