/******************************************************************************
/*                        General Components Styling                          *
/******************************************************************************/

@import '../base/_variables';
@import './_model';

#login-form {
  margin-top: 40%;

  button {
    margin-top: 10px;
    width: 100%;
  }
}

.loading {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.extra-padding {
  padding: 2em;
}

/******************************************************************************
/*                        Workspace Headers                         *
/******************************************************************************/
#workspace {
  #workspace-header {
    border-bottom: 1px solid $mbee-color;
    padding: 12px 28px;

    #workspace-header-btn {
      width: 150px;
    }

  }

  #workspace-body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(10px, 1fr)  auto;
    max-height: 100%;
    height: 100%;

    .main-workspace {
      grid-column-start: 1;
      grid-column-end: 2;
      overflow: scroll;
      width: 100%
    }

    .side-panel {
      grid-column-start: 2;
      grid-column-end: 3;
      display: none;
      width: 0;
      overflow: hidden;
      border-left:  1px solid darken($mbee-background, 10%);
      border-right:  1px solid darken($mbee-background, 10%);
      background: $mbee-background;

      &.side-panel-expanded {
        display: flex;
        width: 500px;
      }
    }
  }
}

.workspace-header {
  display: grid;
  grid-template-columns: minmax(auto, 90%) 1fr;
  grid-template-areas: "header button";
  justify-content: space-between;
  align-items: center;
}

.workspace-title {
  grid-area: header;
  justify-content: flex-start;
  margin: 0;
}

.workspace-header-button {
  grid-area: button;
  display:flex;

  .btn {
    float: right;
    margin: 5px;
  }

  .ws-button-group {
    text-align: right;
    margin-left: 10px;
  }
}

/******************************************************************************
/*                         Organization Page Styling                          *
/******************************************************************************/
.org-list {
  padding: 2em;

  h2 {
    margin-bottom: 1em;
    font-size: 18px
  }

  .org-proj-list {
    display: grid;
    grid-template-columns: minmax(0, 10px) 1fr minmax(2px, 60px);
    grid-template-areas: "icon org button";
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .org-proj-list:hover {
    background: #f7f7f7;
  }

  .org-icon {
    grid-area: icon;
    justify-content: flex-start;
    margin: 0;
  }

  .org-info {
    grid-area: org;
    justify-content: space-around;
    margin: 5px;
    border-right: 1px #ccc solid;
  }

  .controls-container {
    display: flex;
    grid-area: button;
    justify-content: flex-end;

    .add-btn {
      color: $color-secondary;
      padding-right: 20px;
    }
    .add-btn:hover {
      color: darken($color-secondary, 20);
      cursor: pointer;
    }

    .delete-btn {
      color: $color-danger;
    }
    .delete-btn:hover {
      color: darken($color-danger, 20);
      cursor: pointer;
    }
    .fake-icon {
      color: transparent;
    }
  }

  .proj-list {
    display: grid;
    grid-template-columns: 1fr minmax(0px, 65px);
    grid-template-areas: "org button";
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .proj-list:hover {
    background: #f7f7f7;
  }

  .projects-list {
    border-left: #eeeeee solid;
    margin-left: 25px;
  }

  .homeproj-list {
    border-right: 1px #ccc solid;
  }
}

/******************************************************************************
/*                         Project Page Styling                               *
/******************************************************************************/
.proj-org-header {
  a {
    width: 10%;

    &:hover {
      color: #ffc700;
    }
  }

  &:hover {
    background: #f7f7f7;
  }
}

.projects-list {
  border-left: #eeeeee solid;
  margin-left: 8px;
}

/******************************************************************************
/*                           Members Page Styling                             *
/******************************************************************************/

.user-list-header {
  display: grid;
  grid-template-columns: minmax(auto, 48%) minmax(auto, 48%) 1fr;
  grid-template-areas: "header descriptor button";
  justify-content: space-between;
  align-items: center;

  .user-header {
    grid-area: header;
    justify-content: flex-start;
    margin: 0;
  }

  .user-descriptor {
    grid-area: descriptor;
    justify-content: flex-start;
    margin: 0;
  }

  .user-button {
    grid-area: button;
    display: flex;

    .btn {
      float: right;
      margin: 5px;
    }
  }
}

/******************************************************************************
/*                           User Page Styling                                *
/******************************************************************************/
.edit-role-title {
  padding-bottom: 10px;
}

.username-search {
  display: grid;
  grid-template-columns: minmax(auto, 600px) 1fr;
  grid-template-areas: "searchbar button";
  justify-content: space-between;
  align-items: center;

  .user-searchbar {
    grid-area: searchbar;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 5px;
  }

  .search-button {
    grid-area: button;
    justify-content: flex-end;

    .btn {
      float: right;
      margin: 5px;
    }
  }
}

/******************************************************************************
/*                           Search Form Styling                              *
/******************************************************************************/

#search {
  overflow-y: scroll;
}

.search-form {
  padding: 80px;

  .form-row {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.no-results {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-results {
  margin: 20px;

  .search-result {

    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
    margin: 20px;

    .search-result-header {
      span {
        margin-left: 15px;
      }
    }

    .search-result-raw {
      background-color: #efefef;
      border: 1px solid #e8e8e8;
      font-family: Consolas, "Courier New";
      margin: 20px;
      overflow: scroll;
    }
  }
}

