/******************************************************************************
/*                        General Components Styling                          *
/******************************************************************************/

@import '../base/_variables';
@import './_model';

#login-form {
  margin-top: 40%;

  button {
    margin-top: 10px;
    width: 100%;
  }
}

.loading {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delete-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}

/******************************************************************************
/*                         Organization Page Styling                          *
/******************************************************************************/
.org-list {
  padding: 2em;

  h2 {
    margin-bottom: 1em;
    font-size: 18px
  }
  .org-list-header {
    display: grid;
    grid-template-columns: minmax(auto, 90%) 1fr;
    grid-template-areas: "header button";
    justify-content: space-between;
    align-items: center;
  }

  .org-header {
    grid-area: header;
    justify-content: flex-start;
    margin: 0;
  }

  .org-button {
    grid-area: button;
    display:flex;

    .btn {
      float: right;
      margin: 5px;
    }
  }

  .org-proj-list {
    display: grid;
    grid-template-columns: minmax(0, 10px) 1fr minmax(2px, 60px);
    grid-template-areas: "icon org button";
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .org-proj-list:hover {
    background: #f7f7f7;
  }

  .org-icon {
    grid-area: icon;
    justify-content: flex-start;
    margin: 0;
  }

  .org-info {
    grid-area: org;
    justify-content: space-around;
    margin: 5px;
    border-right: 1px #ccc solid;
  }

  .controls-container {
    display: flex;
    grid-area: button;
    justify-content: flex-end;

    .add-btn {
      color: $color-secondary;
      padding-right: 20px;
    }
    .add-btn:hover {
      color: darken($color-secondary, 20);
      cursor: pointer;
    }

    .delete-btn {
      color: $color-danger;
    }
    .delete-btn:hover {
      color: darken($color-danger, 20);
      cursor: pointer;
    }
    .fake-icon {
      color: transparent;
    }
  }

  .proj-list {
    display: grid;
    grid-template-columns: 1fr minmax(0px, 65px);
    grid-template-areas: "org button";
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .proj-list:hover {
    background: #f7f7f7;
  }

  .projects-list {
    border-left: #eeeeee solid;
    margin-left: 25px;
  }

  .homeproj-list {
    border-right: 1px #ccc solid;
  }

  .list .list-item .list-header p {
    font-size: 15px;
  }
}

.org-home {
  padding: 2em;
}

.org-projects {
  padding: 2em;

  .list .list-header p {
    font-size: 15px;
  }

  .project-list-header {
    display: grid;
    grid-template-columns: minmax(auto, 90%) 1fr;
    grid-template-areas: "header button";
    justify-content: space-between;
    align-items: center;
  }

  .project-header {
    grid-area: header;
    justify-content: flex-start;
    margin: 0;
  }

  .project-button {
    grid-area: button;
    display: flex;

    .btn {
      float: right;
      margin: 5px;
    }
  }
}

.org-users {
  padding: 2em;
}

.org-forms {
  padding: 2em;

  .nested-form {
    padding-left: 20px;
  }
}

/******************************************************************************
/*                         Project Page Styling                               *
/******************************************************************************/
.project-home {
  padding: 2em;

  a {
    display: block;
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: #ffc700;
  }
}

.proj-org-header {
  a {
    width: 10%;
  }
  a:hover {
    color: #ffc700;
  }
}
.proj-org-header:hover {
  background: #f7f7f7;
}

.project-list {
  padding: 2em;

  h2 {
    margin-bottom: 1em;
    font-size: 18px;
  }

  .project-list-header {
    display: grid;
    grid-template-columns: minmax(auto, 90%) 1fr;
    grid-template-areas: "header button";
    justify-content: space-between;
    align-items: center;
  }

  .project-header {
    grid-area: header;
    justify-content: flex-start;
    margin: 0;
  }

  .project-button {
    grid-area: button;
    display: flex;

    .btn {
      float: right;
      margin: 5px;
    }
  }

  .list .projects-list {
    border-left: #eeeeee solid;
    margin-left: 8px;
  }

  .list .list-item .list-header p {
    font-size: 15px;
  }
}

.project-user {
  padding: 2em;
}

.project-forms {
  padding: 2em;

  .nested-form {
    padding-left: 20px;
    vertical-align: middle;
    line-height: 34px;
  }
}

.element-children {
  padding-left: 30px;
}

/******************************************************************************
/*                           Members Page Styling                             *
/******************************************************************************/
.user-list {
  padding: 2em;

  h2 {
    margin-bottom: 1em;
    font-size: 18px;
  }

  .user-list-header {
    display: grid;
    grid-template-columns: minmax(auto, 48%) minmax(auto, 48%) 1fr;
    grid-template-areas: "header descriptor button";
    justify-content: space-between;
    align-items: center;
  }

  .user-header {
    grid-area: header;
    justify-content: flex-start;
    margin: 0;
  }

  .user-descriptor {
    grid-area: descriptor;
    justify-content: flex-start;
    margin: 0;
  }

  .user-button {
    grid-area: button;
    display: flex;

    .btn {
      float: right;
      margin: 5px;
    }
  }
}

/******************************************************************************
/*                           User Page Styling                                *
/******************************************************************************/
.user-home {
  padding: 2em;
}

.user-edit {
  padding: 2em;
}

.edit-role-title {
  padding-bottom: 10px;
}

.username-label {
  margin-bottom: 0;
}

.username-search {
  display: grid;
  grid-template-columns: minmax(auto, 600px) 1fr;
  grid-template-areas: "searchbar button";
  justify-content: space-between;
  align-items: center;
}

.user-searchbar {
  grid-area: searchbar;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 5px;
}

.search-button {
  grid-area: button;
  justify-content: flex-end;

  .btn {
    float: right;
    margin: 5px;
  }
}

/******************************************************************************
/*                           List Component Styling                           *
/******************************************************************************/
.hover-darken:hover {
  background: #f7f7f7;
}

.list {
  a {
    display: block;
    text-decoration: none;
    color: black;
  }

  hr {
    border-color: darkgrey;
    margin: 0;
  }
}

.guideline {
  border-left: 1px solid #eee;
}

.list-item {
  margin: 0;
  padding: .5em;
  height: 100%;
  width: 100%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.element-item {
  display: grid;
  grid-template-columns: minmax(auto, 35px) 1fr;
  grid-template-areas: "stats header";
  justify-content: space-between;
  align-items: center;

  .list-header {
    grid-area: header;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    p {
      font-size: 15px;
      margin: 0;
      display: inline-block;
    }
  }

  .stats-list {
    grid-area: stats;
    justify-self: flex-end;
  }
  padding: 2px;
  cursor: pointer;
}

.stats-list-item {
  display: grid;
  grid-template-columns: minmax(auto, 600px) 1fr;
  grid-template-areas: "header stats";
  justify-content: space-between;
  align-items: center;

  .list-header {
    margin: 1em;
    grid-area: header;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    p {
      font-size: 15px;
      margin: 0;
      display: inline-block;
    }
    a:hover {
      color: #ffc700;
    }
  }

  .stats-list {
    grid-area: stats;
    justify-self: flex-end;
  }
}

.stats-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  min-width: 100%;
  max-width: 100%;

  .stats-item {
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    i {
      padding-right: .3em;
    }
    p {
      margin: 0;
    }
  }
}

.user-list-item {
  display: grid;
  grid-template-columns: minmax(auto, 48%) minmax(auto, 48%) 1fr;
  grid-template-areas: "username perm";
  justify-content: space-between;
  align-items: center;

  .username {
    margin: 1em;
    grid-area: username;
    p {
      font-size: 15px;
      margin: 0;
      display: inline-block;
    }
  }

  .permission {
    grid-area: perm;
    p {
      font-size: 15px;
      margin: 0;
      display: inline-block;
    }
  }
}
/******************************************************************************
/*                           Search Form Styling                              *
/******************************************************************************/

#search {
  overflow-y: scroll;
}

.search-form {
  padding: 80px;

  .form-row {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.no-results {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-results {
  margin: 20px;

  .search-result {

    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
    margin: 20px;

    .search-result-header {
      span {
        margin-left: 15px;
      }
    }

    .search-result-raw {
      background-color: #efefef;
      border: 1px solid #e8e8e8;
      font-family: Consolas, "Courier New";
      margin: 20px;
      overflow: scroll;
    }
  }
}

#workspace {
  display: table-cell;
  padding: 0;
  overflow: hidden;

  #workspace-header {
    border-bottom: 1px solid $mbee-color;
    display: table;
    width: 100%;
    padding: 12px 28px;

    h2 {
      display: table-cell;
      font-size: 20px;
      padding-top: 10px;
    }

    .ws-button-group {
      display: table-cell;
      text-align: right;

      button {
        margin-left: 10px;
      }

    }

  }

  #workspace-body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(10px, 1fr)  auto;
    max-height: 100%;
    height: 100%;

    .main-workspace {
      grid-column-start: 1;
      grid-column-end: 2;
      overflow: scroll;
      width: 100%
    }

    .side-panel {
      grid-column-start: 2;
      grid-column-end: 3;
      display: none;
      width: 0;
      overflow: hidden;
      border-left:  1px solid darken($mbee-background, 10%);
      border-right:  1px solid darken($mbee-background, 10%);
      background: $mbee-background;

      &.side-panel-expanded {
        display: flex;
        width: 500px;
      }
    }
  }
}

